{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h1>Register Form</h1>
<body>
<form action="register" method="post">
    {% csrf_token %}
        <input type="text" name="Username" placeholder="Enter your username">
        <br>
        <input type="password" name="Password" placeholder="Enter your password"><br>
         <input type="password" name="Conform password" placeholder="conform your password"><br>
        <input type="submit"><br>

	<!-- Header -->

</form>
{% for msg in messages%}
{{msg}}
{% endfor %}
</body>
</html>

<div class="box">
          <label id="dept" class="fl fontLabel"> Department: </label>
             <div class="fl iconBox"><i class="fa fa-caret-down" aria-hidden="true"></i></div>
             <div class="fr">
                 <select id="dropdown"  name="dept" required  class="textBox">
                     <option disabled selected value>
        Select
      </option>
                            <option value="Engineering">Engineering</option>
                            <option value="Commerce">Commerce</option>
                            <option value="Physics">Physics</option>
                         <option value="Chemistry">Chemistry</option>
                         <option value="Mathematics">Mathematics</option>
                </select>
             	</div>
    			<div class="clr"></div>
</div>